* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "San Francisco Bold";
    src: url(./fonts/System\ San\ Francisco\ Display\ Bold.ttf);
}

@font-face {
    font-family: "San Francisco Regular";
    src: url(./fonts/System\ San\ Francisco\ Display\ Regular.ttf);
}

@font-face {
    font-family: "San Francisco Thin";
    src: url(./fonts/System\ San\ Francisco\ Display\ Thin.ttf);
}

@font-face {
    font-family: "San Francisco Ultralight";
    src: url(./fonts/System\ San\ Francisco\ Display\ Ultralight.ttf);
}

/* Custom Properties
voor fonts en kleuren */

:root {
    --bold-font:"San Francisco Bold";
    --regular-font:"San Francisco Regular";
    --thin-font:"San Francisco Thin";
    --ultralight-font:"San Francisco Ultralight";

    --active-color:#345FA5;
    
    --white:#FFFFFF;
    --black:#000000;

    --hamburger-color:#000000;
    --nav-color:#333333;

    --link-color:#1F77D2;
    --input-color:#1D1D1F;
    --placeholder-color:#67676D;

    --melding-color:#dc4542;
    --superpower-color:#E6AFD7;
    --nieuw-color:orange;

    --border-color:#424245;

    --main-background:#FFFFFF;
    --sale-backgroundcolor:#E9F2FC;
    --section-background:#FBFBFD;
    --applewatch-background:#F5F5F7;

    --footer-textcolor:#75757B;
    --footer-border:#D2D2D7;
    --footer-background:#F5F5F7;


/* Winkelmandje pagina kleuren */

    --firstbutton-color:#306FDB;
    --secondbutton-color:#EBEBEA;

    --winkelmandje-border:#F2F2F2;
    --summary-color:#2A64C5;

    --button-microinteraction:#FD0;
}

body {
    font-family: var(--regular-font);
    background-color: var(--main-background);
}

a {
    text-decoration: none;
}

/* Focus States */

/* a:focus {
    outline: none;
    border: 4px solid var(--active-color);
    box-shadow: 10px var(--active-color);
} */

button:focus {
    outline: none;
    border: 4px solid var(--active-color);
    box-shadow: 10px var(--active-color);
}

/*************/
/* DE HEADER */
/*************/

header {
    display: flex;
    justify-content: space-between;
}

div {
    padding: 1em 1em;
    background-color: var(--nav-color);
    backdrop-filter: blur(10px) grayscale(1) opacity(0.8);

    /* Backdrop filter werkt eigenlijk alleen goed, wanneer er geen kleur overheen zit. */
   
    opacity: 98%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;

    z-index: 999;
}

header div a {
    color:var(--white);
}

header > div a:first-of-type {
    line-height: 1;

    display: grid;
    grid-template-columns: min-content min-content;

    align-items: center;
}

header > div a:first-of-type img {
    height: 1.2em;
    position: relative;
    z-index: 999;
}

header > div a:last-of-type img{
    height: 120%;
    margin-right: 1.5em;

    z-index: 999;
}

nav {
    order: -1;
}

/* Hamburger menu animatie */ 

header div button {
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: none;
    transition: all 0.25;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

header div button span:nth-child(1),
header div button span:nth-child(2) {
    width: 1.5em;
    height: 1px;
    background-color: var(--white);
    
    transition: all 0.25s;
    position: absolute;
}

header div button span:nth-child(1) {
    transform: translateY(-3px);
}

header div button span:nth-child(2) {
    transform: translateY(3px);
}

header div button.animatie span:nth-child(1) {
    transform: rotate(45deg) translateY(0px);
}

header div button.animatie span:nth-child(2) {
    transform: rotate(-45deg) translateY(0px);
}

nav ul {
    margin: 0;
    padding: 4em 0 0;
    background: var(--hamburger-color);
    list-style: none;

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    transform: translateY(-100%);
    transition: .5s;
    transition-timing-function: ease-in-out;

    z-index: 888;
}

.toonMenu ul {
    transform:translateY(0%);
}

.zwarteAchtergrond {
    background-color: var(--hamburger-color);
    transition: .5s;
    transition-timing-function: ease-in-out;
    
}

.verdwijn {
    opacity: 0;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

nav li {
    color: var(--white);
    margin: 0;
    padding: 0 2em 0 2em;
}

nav a {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .25em;
    padding: 1em 1em;
    border-top: solid 1px var(--border-color);

}

nav li input {
    padding: 1em;
    margin-top: .75em;
    margin-bottom: .75em;
    width: 100%;

    border: none;
    border-radius: .4em;
    background: var(--input-color);
    color: var(--placeholder-color);
}

nav li input::placeholder {
    font-size: 1.2  em;
    text-align: left;
}

/*********/
/*  MAIN */
/*********/

main {
    margin-top: 4em;
}

/* Voor de fixed nav bar. */


/*********/
/*  MELDING */
/*********/

aside {
    font-family: var(--thin-font);
    color: var(--white);
    font-size: .8em;
    background: var(--melding-color);
    padding: 1em 5em;
}

aside a {
    color: var(--white);
}

aside button {
    position: absolute;
    right: 0;
    margin-right: 1em;
}

/* Nieuw Jaar melding (theme) */

.nieuwjaar {
    font-family: var(--thin-font);
    color: var(--white);
    font-size: .8em;
    background-image: url("./images/newyear.jpeg");
    background-position: 8em;
}

.nieuwjaar p {
    visibility: hidden;
    position: relative;
}

.nieuwjaar p::after {
    visibility: visible;
    position: relative;
    content: "Begin het nieuwe jaar goed en begin met shoppen met jouw nieuwjaars korting.";
    font-family: var(--bold-font);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 3em;

}

/**************/
/* FEESTDAGEN ACTIE */
/*************/


.feestdagen_actie {
    background-color: var(--sale-backgroundcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feestdagen_actie h1 {
    color: var(--black);
    font-size: 1.5em;
    padding: .5em 6em;

}

.feestdagen_actie a {
    color: var(--link-color);
    margin-bottom: 2em;
}

.feestdagen_actie a:last-of-type::after {
    content: ">";
    margin-left: .5em;
    display: inline-block;
    /* transform: scaleX(0); */
    transition: .3s;
}

.feestdagen_actie a:last-of-type:hover::after {
    /* transform: scaleX(1);
    transition: transform 250ms ease-in; */
    transform: rotate(360deg);
}

.feestdagen_actie img:first-of-type {
    width: 3em;
    order: -1;
    margin-top: 2em;
}

.feestdagen_actie img:nth-child(5) {
    width: 70%;
    margin-bottom: 2em;
}

/**************/
/* IPHONE 13 PRO */
/*************/

.iphone13_pro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--section-background);
}

.iphone13_pro h2 {
    color: var(--black);
    margin-top: 2em;
}

.iphone13_pro h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .2em;
    margin-bottom: 1em;
}

.iphone13_pro a {
    color: var(--link-color);
    margin-right: 1em;
}

.iphone13_pro a:hover {
    border-bottom: 2px solid var(--link-color);
}

.iphone13_pro a:first-of-type {
    width: 100%;
}

.iphone13_pro img {
    width: 80%;
    padding: .5em;
    margin-top: 2.2em;
}

.iphone13_pro article {
    margin-left: 1.5em;
}

/**************/
/* IPHONE 13 */
/*************/

.iphone13 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.iphone13 h2 {
    color: var(--white);
    margin-top: 2em;
}

.iphone13 h3 {
    font-family: var(--thin-font);
    color: var(--superpower-color);
    margin-top: .4em;
    margin-bottom: .5em;
}

.iphone13 img {
    width: 100%;
}

.iphone13 a {
    color: var(--link-color);
}

.iphone13 a:hover {
  border-bottom: 2px solid var(--link-color);
}

.iphone13 a:nth-child(2) {
    margin-right: 1em;
}

.iphone13 article {
    position: absolute;
    margin-bottom: 1em;
}

/**************/
/* MACBOOK PRO */
/*************/

.Macbook_pro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--section-background);
}

.Macbook_pro h2 {
    color: var(--black);
    margin-top: 2em;
    margin-left: 1.5em;
}

.Macbook_pro h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.Macbook_pro a {
    color: var(--link-color);
    margin-right: 1em;
}

.Macbook_pro article a:hover {
    border-bottom: 2px solid var(--link-color);
}

.Macbook_pro a:first-of-type {
    width: 100%;
}

.Macbook_pro img {
    width: 80%;
}

.Macbook_pro article {
    margin-left: 1em;
}

/**************/
/* AIRPODS */
/*************/

.airpods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    background-color: var(--section-background);
}

.airpods h2 {
    color: var(--black);
    margin-top: 2em;
}

.airpods h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .4em;
    margin-bottom: 1em;
}

.airpods img {
    width: 100%;
}

.airpods a {
    color: var(--link-color);
}

.airpods a:hover {
    border-bottom: 2px solid var(--link-color);
}

.airpods a:nth-child(2) {
    margin-right: 1em;
}

.airpods article {
    position: absolute;
    margin-top: 16em;
}

/**************/
/* APPLE WATCH */
/*************/

.applewatch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--applewatch-background);
    margin-top: 1em;
}

.applewatch h4 {
    color: var(--nieuw-color);
    font-size: .75em;
    margin-bottom: .5em;
    margin-top: 4em;
}

.applewatch h2 {
    color: var(--black);
    margin-top: 2em;
}

.applewatch h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .4em;
}

.applewatch img {
    width: 50%;
}

.applewatch img:last-child {
    width: 100%;
    margin-top: 4em;
}

.applewatch a {
    color: var(--link-color);
}

.applewatch a:hover {
    border-bottom: 2px solid var(--link-color);
}

.applewatch a:nth-child(2) {
    margin-right: 1em;
}

.applewatch article {
    position: absolute;
    margin-bottom: 10em;
}

/**************/
/* IPAD MINI */
/*************/

.ipad_mini {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    background-color: var(--applewatch-background);
}

.ipad_mini h2 {
    color: var(--black);
    margin-top: 2em;
    margin-left: 1.5em;
}

.ipad_mini h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.ipad_mini a {
    color: var(--link-color);
    margin-right: 1em;
}

.ipad_mini a:hover {
    border-bottom: 2px solid var(--link-color);
}

.ipad_mini a:first-of-type {
    width: 100%;
}

.ipad_mini img {
    width: 100%;
}

.ipad_mini article {
    margin-left: 1em;
}

/**************/
/* AIRTAG */
/*************/

.airtag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--section-background);
}

.airtag h2 {
    color: var(--black);
    margin-top: 2em;
    margin-left: 1.5em;
}

.airtag h3 {
    font-family: var(--thin-font);
    color: var(--black);
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.airtag a {
    color: var(--link-color);
    margin-right: 1em;
}

.airtag a:hover {
    border-bottom: 2px solid var(--link-color);
}

.airtag a:first-of-type {
    width: 100%;
}

.airtag img {
    width: 80%;
}

.airtag article {
    margin-left: 1em;
}

/**************/
/* APPLE TV */
/*************/

.appletv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 1em;
}

.appletv h2 {
    color: var(--white);
    font-size: 2em;
}

.appletv h3 {
    font-family: var(--thin-font);
    color: var(--white);
    margin-top: .4em;
    margin-bottom: 1em;
}

.appletv img {
    width: 100%;
}

.appletv article img {
    width: 2em;
}

.appletv a {
    color: var(--white);
}

.appletv a:hover {
    border-bottom: 2px solid var(--white);
}

.appletv article {
    position: absolute;
    margin-top: 12em;
}

.appletv article span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.appletv article span img {
    margin-right: .5em;
}

/**************/
/* WINKLEMANDJE PAGINA */
/*************/

.koptekst h1 {
    color: var(--black);
    font-size: 2em;
    text-align: left;
    margin-top: 4em;
    margin-left: 1em;
}

.koptekst p {
    color: var(--black);
    font-size: 1em;
    text-align: left;
    margin-top: 1em;
    margin-left: 2em;
    width: 75%;
}

/* Buttons */

.meldjeaan button:first-of-type {
    background-color: var(--firstbutton-color);
    color: var(--white);
    font-size: 1em;
    width: 90%;
    padding: 1.2em;
    margin-top: 1.5em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.meldjeaan button:nth-of-type(2) {
    background-color: var(--secondbutton-color);
    color: var(--black);
    font-size: 1em;
    width: 90%;
    padding: 1.2em;
    margin-top: 1em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Microinteractie buttons */

.meldjeaan button span {
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
    z-index: 1;
  }
  
  .meldjeaan button:focus {
    outline:none;
  }
  
  
  .meldjeaan button::after, .meldjeaan button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
  
  .meldjeaan button::after {
    background: var(--button-microinteraction);
    clip-path: circle(0% at 0% 100%);
    transition: clip-path 0.4s ease-out 0s;
  }
  
  .meldjeaan button::before {
    background: var(--button-microinteraction);
    clip-path: circle(0% at 0% 0%);
    transition: clip-path 0.4s ease-out 0.1s;
  }
  
  .meldjeaan button:hover::before, .button:hover::after {
    clip-path: circle(100% at 50% 50%);
  }
  
  .meldjeaan button:hover::before {
    transition: clip-path 0.4s ease-out 0s;
  }
  
  .meldjeaan button:hover::after {
    transition: clip-path 0.4s ease-out 0.1s; 
  }
  

/* Hulp tekst */

.hulp p {
    color: var(--black);
    text-align: left;
    border-top: 1px solid var(--winkelmandje-border);
    border-bottom: 1px solid var(--winkelmandje-border);
    padding: 1.5em;
    margin-top: 4em;
    margin-left: 1em;
}

.hulp p a {
    color: var(--link-color);
}

.hulp p a:hover {
    border-bottom: 2px solid var(--link-color);
}

/* Nieuw binnen gekomen kop */

.nieuw_binnengekomen p {
    color: var(--black);
    margin-top: 1em;
}

.nieuw_binnengekomen a {
    color: var(--link-color);
    margin-top: 1em;
    z-index: 1;
}

.nieuw_binnengekomen a:hover {
    border-bottom: 2px solid var(--link-color);
}

.nieuw_binnengekomen img {
    width: 90%;
    text-align: left;
    margin-top: 2.5em;
}

.nieuw_binnengekomen article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 4em;
    margin-left: 12em;
}

/* Dropdown styling */

.vragen {
    color: var(--black);
    text-align: left;
    border-top: 1px solid var(--winkelmandje-border);
    padding: 2em;
    margin-top: 3em;
}

.vragen details summary {
    list-style: none;
    text-align: left;
    font-size: 1em;
}

.vragen details p {
    text-align: left;
    margin-top: 2.5em;
}

.vragen details a {
    color: var(--link-color);
}

.vragen ul {
    margin-top: 3em;
}

.vragen ul li {
    list-style: none;
    border-top: 1px solid var(--winkelmandje-border);
    padding: 2em 0em;
}

.vragen h2 {
    color: var(--black);
    margin-top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Detail list animation */

.vragen h2::after {
    content: "+";
    color: var(--footer-textcolor);
    margin-left: 2em;
    display: inline-block;
    transition: .3s;
}

.vragen h2::after:active {
    transform: rotate(45deg);
}

/* Kleurverandering op click */

.showDetail {
    color: var(--summary-color);
}

/* Dropdown van ul naar li */

#vragen_over_kopen {
    text-align: left;
}

#vragen_over_kopen ul {
    opacity: 0;
    height: 0;
    transition: 0s;
  }
  
  #vragen_over_kopen ul.active {
    opacity: 1;
    display: block;
    height: auto;
  }

/**************/
/* FOOTER */
/*************/

/* Footer tekst */

footer {
    background-color: var(--footer-background);
    margin-top: 1em;
}

footer p {
    color: var(--footer-textcolor);
    font-size: .75em;

    text-align: left;
}

footer p:nth-child(1) {
    padding: 2em;
    border-bottom: 1px solid var(--footer-border);
}

/* Dropdown menu */

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

summary::after {
    content: "+";
    margin-left: 5em;
    display: inline-block;
    transition: .3s;
}

details[open] summary::after {
    transform: rotate(45deg);
}

footer details summary {
    color: var(--footer-textcolor);
    font-size: 0.75em;
    border-bottom: 1px solid var(--footer-border);
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    list-style: none;
    
    text-align: left;
}

footer details a {
    color: var(--footer-textcolor);
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: 2em;
}

/* Footer lower tekst */

.lower_footer p a {
    color: var(--link-color);
}

.lower_footer p {
    padding: .5em;
    margin-left: 1em;
    margin-right: 1em;
}

.lower_footer ul {
    font-size: 0.75em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: none;
    margin-bottom: 1em;
    margin-left: .5em;
    padding: 1em;
}

.lower_footer  ul li {
    color: var(--footer-textcolor);
    list-style: none;
    margin-right: 1em;
}

.lower_footer ul li a {
    color: var(--footer-textcolor);
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
    :root {
        
        --active-color:#FFFFFF;

        --main-background:#191919;
        --white:#FFFFFF;
        --sale-backgroundcolor:#191919;
        --black:#FFFFFF;
        --link-color:#1F77D2;
        --section-background:#191919;
        --applewatch-background:#191919;
        --applewatch-background:#191919;
        --footer-background:#191919;
        --footer-textcolor:#FFFFFF;
        --footer-border:#FFFFFF;

        /* Winkelmandje pagina kleuren */

        --firstbutton-color:#9A09BF;
        --secondbutton-color:#FF2F00;
        --winkelmandje-border:#FFFFFF;
        --summary-color:#FFFFFF;

        --button-microinteraction:#770603;
    }
}

/* Voor een darkmode zullen er ook andere foto's gemaakt moeten worden 
die een goed contrast hebben op een darkmode. Deze foto's kunnen verwerkt 
worden in de darkmode door een code in de HTML (kijk HTML: index.htnml) */